<% content_for :head do %>

  <%= @pinion.css_url("/assets/css/about.css") %>

<% end %>



<div class="aboutWrap">
  <h1> Data Sources: </h1>
  <h3> Production </h3>
  
  <p>
    Production data gathered from the FAO Fisheries and Aquaculture Department's FishStatJ Database:<br>
    <a href="http://www.fao.org/fishery/statistics/software/fishstat/en" target=_browser >http://www.fao.org/fishery/statistics/software/fishstat/en</a>
  </p>
  
  <h3> Trade Links </h3>
  <p> Trade data gathered from UN comtrade database: <br>
  <a href="http://comtrade.un.org/" target=_browser >http://comtrade.un.org/</a></p>
  <p> Note that comtrade does not gaurantee accuracy of trade data accounts. For example, you will notice that the amount of cod Iceland exports to Nigeria is not the same as the amount Nigeria imports from Iceland. </p>
  
  <h3>Browsing visualizations made using the d3 javascript library by Michael Bostock <a href="http://d3js.org/" target="_blank">http://d3js.org</a></h3>
  <h3>Any other questions? Try contacting Chris at: <a href="mailto:fishmap.contact@gmail.com" target="_blank">fishmap.contact@gmail.com</a></h3>
 
</div>