<% content_for :head do %>

  
   
<% end %>


<div class="chart">
  <div id="pop-up">
    <div id="pop-up-title"></div>
    <div id="pop-up-content">
      <table> 
        <tr>
          <td><div id="pop-img"></div></td>
          <td><div id="pop-desc"></div></td>
        </tr> 
      </table>
    </div>
  </div>
  <div class="bubbleNavigateSearch">
    <div id="bubbleText">Click each bubble node to navigate through the agency hiearchy.</div>
    <div id="subfunctionSlider"></div>

  </div> 
</div>
