<% content_for :head do %>

  
   
<% end %>



<div class="chart">
  <div id="pop-up">
    <div id="pop-up-title"></div>
    <div id="pop-up-content">
      <table> 
        <tr>
          <td><div id="pop-img"></div></td>
          <td><div id="pop-desc"></div></td>
        </tr> 
      </table>
    </div>
  </div>
  <div class="bubbleNavigateSearch">Browse the heirarchy of government programs. A complete list is available on the next tab.</div> 
</div>
