@import "css/mixins";
.aboutWrap{
  font-size: 1.4em;
 
  a{font-size: 1em;}
  p{
    padding: 5px;
    
  }
  
  ul{
    list-style-type: none;
    padding: 15px;
    
    li{
      h5{
        display: inline
      }
      padding-left: 25px;
      
    }
  }
}