@import "css/mixins";

.margin{
  font-size: 2em;
  /*width: 1000px;*/
  

  #stepOne{
    display: none;
    color: $red;
  }
  #stepTwo{
    display: none;
    color: $red;
  }
  
  .taxBudget{
    display: table;
    min-width: 1000px;
    border-bottom-style: solid;
    border-bottom-color: $darkGray;
    border-bottom-width: 3px;
    
    .taxSummary{
      width: 550px;
      display: table-cell;
      padding: 15px;
      td{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .changeBudget{
      max-width: 250px;
      display: table-cell;
      vertical-align: top;
    
      input[type=submit] {
        left: -100px;
        position: relative;
      }
    }
  }
  
  #hideBrowsing{
    font-size: .8em;
  }

  #mainSearch{
    display: table;
    
    
    #browseWrap{
      display: table-cell;
      padding-bottom: 10px;  
     
      
      .browseAlignment{
        display: table;  
        width: 400px;
        .browseLabel{
          display: table-cell;
          
        }
        .browsing{
           display: table-cell;
       
           text-align: right;
          /* max-width: 200px;
           min-width: 200px;*/
           
           select{
            max-width: 250px;
            min-width: 250px;
           }
        }
      
      }
    }
  
  }
  
  .govtProgramsWrapper{
    margin: auto;
    font-size: 1em;
    background-color: $lightGray;
    margin-top: 20px;
    width: 100%;

    /*overflow: auto;
    display: inline-block;*/
    
    
    
    #clearAll{
      display: none;
      float: right;
      text-align: right;
      width: 100%;
      font-size: .8em;
      border-bottom-style: solid;
      border-bottom-color: $darkGray;
      border-bottom-width: 3px;
     
      
    }
    
    #searching{
      visibility: hidden;
      text-align:left;
      float: left;
      width: 100%;
      font-size: .8em;
      
    
    
    }
      
    .programsList{
      width: 100%;
    /*  display: inline-block;
      float: left;*/
   
      
      .projectLevelWrap{
        display: table;
        padding: 20px;
        font-size: .7em;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: $darkGray;
        min-width: 960px;
        max-width: 960px;
        /*display: block;
        position: relative;
        width: 100%*/
        /*width: 900px;*/
       
      
        .exit{
          display: table-cell;
          width: 30px;
          height: 100%;
          vertical-align: middle;
          
        
           a.closeProject{
            max-width: 20px;
            max-height: 25px;
            font-size: 1em;
            padding: 5px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border: 1px solid darken($lightGray, 20%);
            cursor: pointer;
            background: #333333;
            color: lighten($lightGray, 20%);
            font-weight: 300;
            @include border-radius(3px);
            @include user-select(none);
            
            &:hover { 
              @include box-shadow(0px 0px 10px $red); 
              background-color: $red;
            }
          }
        }
        
        .programDataMain{
          display: table-cell;
         
          
          .programDataTopRow{
            display: table;
            width: 800px;
            height: 100px;
            vertical-align: top;
            
            .programBudget{
              display: table-cell;
              padding: 10px;
              width:450px;
              max-width: 450px;
              min-width: 450px;
              vertical-align: top;
             
              
              .miniDescription{
                font-style: italic;
                padding-top: 10px;
              
              }
              
              a{
                text-decoration: none;
                font-size: 1em;
              }
              
              .seeGraphs{
                float: right;
                font-style: italic;
                vertical-align: bottom;
                position: relative;
                bottom: -15px;
              }
              
            }
            
            .userShare{
              display: table-cell;
              padding: 15px;
              width: 370px;
              max-width: 370px;
              min-width: 370px;
              vertical-align: top;
              
               h6{
                float: right;
              
              }
              
              table{
                width: 350px;
                
                td{
                  text-align: left;
                
                  p{
                    text-align: right;
                    float: right;
                  
                  }
                }
              }
              
              .userTaxAmt{
                
              }
            }
            
            .sliderWrap{
              display: table-cell;
              width: 80px;
              min-width: 80px;
              max-width: 80px;
              
              
              .slider{
                display: table-cell;
                max-height: 100px;
                min-width: 10px;
                margin-left: 15px;
                margin-right: 15px;
                vertical-align: middle;
                margin-left: 20px;
              }
              .amount{
                display: table-cell;
                vertical-align: middle;
                padding-left: 15px;
              }
            }
          }
          
          .programDataBottomRow{
            display: table;
            height: 250px;
            width: 100%;
            
            
            .timelineWrapper{
              display: table-cell;
              padding: 10px;
              width: 690px;
              max-width: 500px;
              min-width: 500px;
              min-height: 300px;
              height: 300px;
            
              .programTimeline{
               
                
                width: 750px;
                max-width: 670px;
                min-width: 670px;
                min-height: 250px;
                height: 250px;
                
              
              }
            }
            
            .timelineData{
              display: table-cell;
              position: relative;
       
              left: -50px;
              width: 250px;
              vertical-align: top;
              
              .nestLevel{
                text-align: center;
              }
              
              .sliderLabel{
                text-align: center;
              }
              
              a{
                font-size: 1em;
              }
              
              .nestingSlider{
                margin-top: 20px;
                margin-left: 15px;
                margin-right: 15px;
                min-width: 100px;
                min-height: 10px;
                margin-bottom: 20px;
               /* padding-bottom: 30px;*/
              }
            }
          
          }
        }
      }
    }
    
    
    /*
    table.programTable{
      width: 1000px;
      margin-left: -200px;
      
      tr{
        padding-top: 20px;
      
      }
     
      td{
        padding-left: 20px;
        padding-right: 20px;
        vertical-align: top;
        
        a.closeProject{
          max-width: 20px;
          max-height: 25px;
          font-size: 1em;
          padding: 5px;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          border: 1px solid darken($lightGray, 20%);
          cursor: pointer;
          background: #333333;
          color: lighten($lightGray, 20%);
          font-weight: 300;
          @include border-radius(3px);
          @include user-select(none);
          
          &:hover { 
            @include box-shadow(0px 0px 10px $red); 
            background-color: $red;
          }
        }
      
      }
    }*/

  }
}