@import "css/mixins";   


.tableDisplay{
  display: table;

 
  
  #tableLeft{ 
    display: table-cell;
    /*position: absolute;*/
    z-index: 200;
    
    table{
      border-spacing:0;
      border-collapse: collapse;
      
      
      .opaqueRow{
         padding:5px;
         background-color: $lightestGray;
        
        
          :hover { background-color: $orange; } 
       
          td{
           border-width: 1px;
           border-color: black;
           border-style: solid;
           max-width: 150px;
           
           
            p{
              font-size: .6em;
              opacity: 1;
              padding: 8px;
               
           
          }
        }
      }
    } 
  input[type=text]{
    height: 40px;
    width: 200px;
    vertical-align: middle;
  }
}

  a.button{
    display: table-cell;
    position: absolute;
    left: 725px;
    font-weight: 100;
    padding: 20px;
    max-height: 30px;
    top: 335px;
    display: table-cell;
    vertical-align: middle;
    color: white;
    
  }
}
